.certificate {
  background: #FFF;
  &__row {
    display: flex;
    padding: 120px 0;
    align-items: center;
  }
  &__left {
    width: 50%;
    span{
      justify-content: space-between;


    }
    &-subtitle {
      color: var(--gray-900, #1E212C);
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    &-title {
      color: var(--gray-900, #1E212C);
      font-size: 46px;
      font-weight: 900;
      margin-bottom: 48px;
    }
    &-desc{
      color: var(--gray-800, #424551);
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 5px;
    }
  }
  &__right{
    width: 60%;
    display: flex;
    img{
      width: 100%;
      margin-bottom: -150px;
      border-radius: 4px;
    }
  }
}