.certificate{
  padding: 120px;
  &__row {
    align-items: center;
    &__left {

    }
    &__suptitle {
      color: var(--gray-900, #1E212C);
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      background: #FF3F3A;
    }
  }
  &__right{
 &-img{
   display: flex;
   column-gap: 16px;
   align-items: center;
   padding:0 117px;
 }
  }

}
