.footer{
  background: var(--gray-900, #1E212C);;
  &__nav{
    display: flex;
    padding: 80px 0 60px;
    column-gap: 80px;
  }
  &__left{
    width: 30%;
    &-info{
      color: var(--white, #FFF);
      font-size: 12px;
      font-weight: 400;
      line-height:150% ;
    }
    &-links{
      display: flex;
      align-items: center;
      column-gap: 20px;
    }
    &-link{
      svg path{
        fill:#ffffff60;
      }
      &:hover{
        svg path{
          fill: #ffffff;
        }
      }
    }
  }
}