.footer {
  background: var(--gray-900, #1E212C);
  &__naw {
  padding: 80px 0 60px;
    display: flex;
    column-gap: 80px;
  }
  &__left {
    width: 30%;
    &-info {
    color: var(--white, #FFF);
      font-size: 12px;
      font-weight: 400;
      line-height: 150%;
      margin: 24px 0 38px;
    }
    &-links {
      display: flex;
      align-items: center;
      column-gap: 20px;
    }
    &-link {
      svg path {
        fill: #ffffff60;
      }
      &:hover {
        svg path {
          fill: #ffffff;
        }
      }
    }
  }
  &__center {
    display: flex;
    column-gap: 80px;
    width: 100%;
    &-title {
    color: #FFF;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 12px;
    }
    &-item {
      margin-bottom: 8px;
      a {
        color: #a5a6aa;
        font-weight: 400;
      }
    }
  }
  &__bottom{
    padding: 19px 0;
    background: #2a2c37 ;
    &-row{
    display: flex;
      justify-content: space-around;
      align-items: center;
    }
    &-all{
      display: flex;
      align-items: center;
      color: #FFF;
      font-size: 12px;
      font-weight: 400;
      line-height: 150%;
    }
    &-go{
      color: #a5a6aa;
      font-size: 14px;
      font-weight: 700;
      line-height: 150%;
    }
  }
  &__right {
    &-title{
      color: var(--white, #FFF);
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding-bottom: 24px;
    }
    &-label {
      display: flex;
      margin: 24px 0 12px;
      position: relative;
    }
    &-add{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      cursor: pointer;
      right: 12px;
    }
    &-input {
      width: 100%;
      border-radius: 4px;
      border: 1px solid rgba(255, 255, 255, 0.20);
      background: rgba(255, 255, 255, 0.12);
      padding: 9px 12px;
      color: white;
      &::placeholder{
      color: var(--white, #FFF);
        font-size: 12px;
        font-weight: 400;
        line-height: 150%;
      }
    }
    &-desc{
      color: var(--white, #FFF);
      font-size: 10px;
      font-weight: 400;
      margin-top: 12px ;
    }
  }
}
