.header{
  background: #ffdad5;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  &__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__left{
    display: flex;
    align-items: center;
    column-gap: 60px;
  }
  &__links{
    display: flex;
    column-gap: 40px;
  }
  &__link{
    color: var(--gray-800, #424551);
    font-weight: 700;
    &:hover{
      color:#FF3F3A;
    }
  }
  &__right{
    display: flex;
    align-items: center;
    column-gap: 26px;
  }
  &__register{
    background: transparent;
    color: #424551;
    font-weight: 700;
    cursor: pointer;
    border: none;
  }
  &__burgerMenu{
    display: none;
    &-links{
      display: flex;
      column-gap: 30px;
    }
    &-btns{
      display: flex;
      column-gap: 30px;
      align-items: center;
    }
  }
  &__burger{
    width: 50px;
    height: 45px;
    display:none;
    justify-content: center;
    cursor: pointer;
    padding: 0 5px;
    span{
      width: 100%;
      height: 3px;
      background: #1E212C;
      position: relative;
      border-radius: 3px;
      &::before{
        content: "";
        position: absolute;
        top: -10px;
        width: 100%;
        height: 3px;
        background: #1E212C;
        border-radius: 3px;
      }
      &::after{
        content: "";
        position: absolute;
        top: 10px;
        width: 100%;
        height: 3px;
        background: #1E212C;
        border-radius: 3px;
      }
    }
    &.active{
      span{
        background: transparent;
        &::before{
          top: 0;
          transform: rotate(45deg);
        }
        &::after{
          top: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }
}


@media(max-width: 992px){
.header__links, .header__right{
  display: none;
}
  .header__burgerMenu{
    display: flex;
    column-gap: 40px;
    align-items: center;
    position: absolute;
    width: 100%;
    background: #FFF;
    padding: 20px 0;
    top: -100%;
    left: 0;
    transform: translateY(-100%);
    border-radius: 0 0 20px 20px ;
    &.active{
     top: 0;
      transform: translateY(0);
    }
  }
  .header__burger{
    display: flex;
  }
}

@media(max-width: 768px){
  .header__burgerMenu{
    flex-direction: column;
    row-gap: 20px;
  }
}

@media(max-width: 500px){
  .header__burgerMenu-links{
    a{
      font-size: 15px;
    }
  }
}

@media(max-width: 425px){
  .header__burgerMenu-links, .header__burgerMenu-btns{
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
  }
}