.post{
  padding: 120px 0 180px;
  &__row{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__card{
    position: relative;
    width: calc(33.33333% - 20px);
    &-img{
      width: 100%;
    }
    &-management{
      display: flex;
      align-items: center;
      column-gap: 12px;
      margin: 8px 0 ;
    }
    &-marketing{
      color: var(--gray-700, #787A80);
      font-size: 14px;
      font-weight: 700;
    }
    &-timing{
      display: flex;
      column-gap: 8px;
      align-items: center;
      color: var(--gray-700, #787A80);
      font-size: 14px;
      font-weight: 400;
    }
    &-title{
      color: var(--gray-900, #1E212C);
      font-size: 20px;;
      font-weight: 700;
      line-height: 150%;
    }
    &-desc{
      color: var(--gray-800, #424551);
      font-size: 16px;
      font-weight: 400;
      margin: 8px 0 16px;
    }
    &-link{
      display: flex;
      align-items: center;
      column-gap: 8px;
      color: var(--gray-900, #1E212C);
      font-weight: 700;
    }
    &-el{
      position: absolute;
      top: 12px;
      left: 12px;
      padding: 4px 8px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      column-gap: 4px;
      background: var(--white, #FFF);
      color: var(--gray-800, #424551);
      font-size: 14px;
      font-weight: 400;
    }
  }
}