.say{
  padding: 100px 0;
  background: var(--gray-200, #F4F5F6);
  &__subtitle{
    color: var(--gray-900, #1E212C);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &__title{
    color: var(--gray-900, #1E212C);
    text-align: center;
    margin: 8px 0 128px;
    font-size: 46px;
    font-weight: 900;
  }
  &__card {
    padding: 64px 105px 64px 163px;
    width: 100%;
    border-radius: 4px;
    background: var(--white, #FFF);
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    height: 100%;
    &-desc{
      color: var(--gray-800, #424551);
      font-size: 20px;
      font-weight: 400;
      line-height: 150%;
    }
    &-user {
      display: flex;
      align-items: center;
      margin-top: 35px;
      column-gap: 20px;
      &-name {
        color: var(--gray-900, #1E212C);
        font-size: 16px;
        font-weight: 700;
        span {
          color: var(--gray-700, #787A80);
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
  .swiper {
    width: 85%;
    &-button-prev{
      &::after{
        content: url("../assets/left.png");
      }
    }
    &-button-next{
      &::after{

        content: url("../assets/hover.png");
      }
    }
  }
}
