.school {
  padding: 120px 0;
  background: #ffdad5;
  &__subtitle{
  color: #1E212C;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;

  }
  &__title{
    color: var(--gray-900, #1E212C);
    text-align: center;
    margin: 8px 0 128px;
    font-size: 46px;
    font-weight: 900;
  }
  &__lebel{
    display: flex;
    margin: 24px 0 12px;
    text-align: center;
    position: relative;
    &__email{
    }
  }

}

