.school {
  padding: 120px 0;
  background: #ffdad5;
  &__top {
    display: flex;
    text-align: center;
  }
  &__email {
    width: 422px;
    height: 52px;
    padding: 13px 271px 13px 16px;
    column-gap: 24px;
  }
  &__left-img{
    width: 354px;
    height: 246px;
    flex-shrink: 0;
  }
}

