@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  list-style-type: none;
  transition:  .5s;
}
.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding:  0 20px;
}
.btn{
  padding: 13px 40px;
  border-right: 4px;
  background: var(--btn-gradient, linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%));
  font-weight: 700;
  letter-spacing: 0.5px;
  border: none;
  cursor: pointer;
  color: #fff;
}

@import "guestion";
@import "header";
@import "enjoy";
@import "featured";
@import "benefits";
@import "events";
@import "say";
@import "team";
@import "school";
@import "our";

