.subscribe{
  background: #ffdad5;
  padding: 120px;
  position: relative;
  &__row{
  align-items: center;
  }
  &__suptitle{
    color:#1E212C;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 8px;
  }
  &__title{
    text-align: center;
    color: #1E212C;
    font-size: 46px;
    font-weight: 900;
    padding-bottom: 60px;
  }
  &__label {
    display: inline-flex;
    width: 422px;
    height: 52px;
    padding: 13px 271px 13px 16px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #D7DADD;
  background: var(--white, #FFF);
    margin-left: 280px;
    margin-bottom: 180px;
  }
  &__field {
    color:  #9A9CA5;
    font-size: 16px;
    font-weight: 400;
    border: none;
  }
  &__btns{
    display: inline-flex;
    padding: 0 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--btn-gradient, linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%));
    color: #FFF;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.5px;
    margin-left: 24px;
    cursor: pointer;
  }
  &__left{
    position: absolute;
    left: 0;
    bottom:0;
  }
  &__right{
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
